html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

table.status{
    border: solid 2px #000000;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


th.tampilanView{
    border-collapse: collapse;
    border-radius: 5px;
    border: solid 2px #000000;
    text-align: center;
    padding: 15px;
    margin: 15px;
}
td.tampilanView{
    border-collapse: collapse;
    border: solid 2px #000000;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin:15px;
}


td.tampilanStatus{
    border-collapse: collapse;
    border: solid 2px #000000;
    text-align: center;
    padding: 15px;
    margin:15px;
    color:#5B9AD3;
    font-weight: bold;
}

p.tampilanStatus{
    color:#000000;
    font-weight: bold;
}

th.tampilanStatus{
    border-collapse: collapse;
    border: solid 2px #000000;
    text-align: center;
    padding: 15px;
    margin:15px;
}

table.good{
   font-size: 18px;
}
